In [25]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical

df = pd.read_csv('/Users/swatisrivastava/Downloads/Credit_Card_Defaulter_prediction/Data_cleaning_and_Exploration/my_cleaned_data.csv')

In [26]:
df.head(10)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month,EDUCATION_CAT,graduate school,high school,others,university
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,1,university,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,1000,1000,0,2000,1,university,0,0,0,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,1000,1000,1000,5000,0,university,0,0,0,1
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,1200,1100,1069,1000,0,university,0,0,0,1
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,10000,9000,689,679,0,university,0,0,0,1
5,ceae2946-47e4,50000,1,1,2,37,0,0,0,0,...,657,1000,1000,800,0,graduate school,1,0,0,0
6,d3b8ce26-9c89,500000,1,1,2,29,0,0,0,0,...,38000,20239,13750,13770,0,graduate school,1,0,0,0
7,d6e1911b-54d0,100000,2,2,2,23,0,-1,-1,0,...,0,581,1687,1542,0,university,0,0,0,1
8,8421d3b3-2b54,140000,2,3,1,28,0,0,2,0,...,432,1000,1000,1000,0,high school,0,1,0,0
9,62a2fd79-cd90,20000,1,3,2,35,-2,-2,-2,-2,...,0,13007,1122,0,0,high school,0,1,0,0

In [27]:
X = df.drop(['ID', 'default payment next month','EDUCATION_CAT', 'others', 'graduate school', 'high school', 'university'], axis=1)
y = df['default payment next month']

In [28]:
# Scale continuous features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [29]:
# Split the dataset
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [30]:
# Convert labels to categorical (if it's a binary classification)
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [31]:
# Neural network architecture
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(2, activation='softmax')  # Use 2 for binary classification
])

In [32]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [33]:
history = model.fit(X_train, y_train, validation_split=0.2, epochs=10, batch_size=32)

Epoch 1/10
540/540 [==============================] - 0s 448us/step - loss: 0.4758 - accuracy: 0.8062 - val_loss: 0.4390 - val_accuracy: 0.8184
Epoch 2/10
540/540 [==============================] - 0s 334us/step - loss: 0.4429 - accuracy: 0.8187 - val_loss: 0.4329 - val_accuracy: 0.8179
Epoch 3/10
540/540 [==============================] - 0s 337us/step - loss: 0.4356 - accuracy: 0.8196 - val_loss: 0.4292 - val_accuracy: 0.8186
Epoch 4/10
540/540 [==============================] - 0s 337us/step - loss: 0.4306 - accuracy: 0.8214 - val_loss: 0.4263 - val_accuracy: 0.8198
Epoch 5/10
540/540 [==============================] - 0s 338us/step - loss: 0.4273 - accuracy: 0.8203 - val_loss: 0.4293 - val_accuracy: 0.8200
Epoch 6/10
540/540 [==============================] - 0s 335us/step - loss: 0.4264 - accuracy: 0.8229 - val_loss: 0.4232 - val_accuracy: 0.8219
Epoch 7/10
540/540 [==============================] - 0s 335us/step - loss: 0.4231 - accuracy: 0.8230 - val_loss: 0.4272 - val_accuracy: 0.8209
Epoch 8/10
540/540 [==============================] - 0s 347us/step - loss: 0.4208 - accuracy: 0.8234 - val_loss: 0.4275 - val_accuracy: 0.8228
Epoch 9/10
540/540 [==============================] - 0s 335us/step - loss: 0.4202 - accuracy: 0.8242 - val_loss: 0.4321 - val_accuracy: 0.8161
Epoch 10/10
540/540 [==============================] - 0s 334us/step - loss: 0.4177 - accuracy: 0.8242 - val_loss: 0.4267 - val_accuracy: 0.8214

In [34]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print(f'Test Accuracy: {test_accuracy}, Test Loss: {test_loss}')

169/169 [==============================] - 0s 261us/step - loss: 0.4306 - accuracy: 0.8258
Test Accuracy: 0.825796902179718, Test Loss: 0.4305729866027832

In [36]:
model.save('cnn.h5')